[submodule "01-first-steps"]
	path = 01-first-steps
	url = https://github.com/japc-learning/next-first-steps.git
[submodule "02-my-dashboard"]
	path = 02-my-dashboard
	url = https://github.com/japc-learning/next-my-dashboard.git
[submodule "03-admin-todos"]
	path = 03-admin-todos
	url = https://github.com/japc-learning/next-admin-todos.git
[submodule "04-teslo-shop"]
	path = 04-teslo-shop
	url = https://github.com/japc-learning/next-teslo-shop.git
